body {
    margin: 0;
    padding: 0px;
}

.firstsection {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}

.headersub {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
    list-style: none;
    gap: 20px;
}

.main {
    display: flex;
    flex: auto;   
    height: 500px;
    align-items: center;
}

.main > * {
    flex: 1;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.subtext,
.headersub,
.image {
    font-size: 18px;
    color: #E5E7EB;
}

.image > * {
    margin: auto;
}


.image {
    display: flex;
    height: 200px;
    background-color: grey;
    margin: 2em;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 0px;
}

.secondsection {
    padding: 100px 100px;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secondsection-inner {
    max-width: 1200px;
    margin: 0 auto;

}

.secondheader {
    display: flex;
    justify-content: center;
}

.secondheader h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937; 
}

.boxcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.box-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
}

.box-text {
    text-align: center;
    color: grey;
    margin: 0;
}

.emptybox {
    width: 100px;
    height: 100px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin: 0;
}

.thirdsection {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thirdsection-inner {
    margin: 0 auto;
    max-width: 900px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.fourthsection {
    background-color: white;
    padding: 100px 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fourthsection-inner-block {
    background-color: #3882F6;
    border-radius: 12px;
    max-width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    flex: 1;
}

.fourthsection-inner-content {
    display: flex;
    flex-direction: row;
}

.fourthsection-inner-content{
    width: 1000px;
    justify-content: center;
}
.fourthsection-verbage > *{
    color: white;
}

.fourthsection-verbage h3 {
    margin: 0;

}

.button2 {
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: white;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 24px;

}
