body {
    margin: 0;
    padding: 0px;
}

.firstsection {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1f2937;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: row;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;

}

.headersub {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
    list-style: none;
    gap: 20px;
}

.main {
    display: flex;
    flex: auto;   
    height: 500px;
    align-items: center;
}

.main > * {
    flex: 1;
}

.maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.subtext,
.headersub,
.image {
    font-size: 18px;
    color: #E5E7EB;
}

.image > * {
    margin: auto;
}


.image {
    display: flex;
    height: 200px;
    background-color: grey;
    margin: 2em;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 12px;
    padding: 8px 24px;
    border: 0px;
}

.secondsection {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    padding-left: 200px;
    padding-right: 200px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secondheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937; 
}

.boxes {
    display: flex;

}

.boxes > * {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box {
    color: grey;
    font-size: 18px;
}
.emptybox {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin: 0;
}

.thirdsection {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    height: 500px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.quote {
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.author {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    font-weight: bold;
}